

#cont{
    width: 450px;
    height: 250px;
    margin: 10px;
    border: 1px solid;  
}



#output {
    width: 80%;
    height: 40px;
    margin: 10px;
    border: 1px solid; 
    padding: 12px;
}




